.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  padding: 10px;
  font-family: 'Roboto';
}

.title {
  color: #ffffff;
  text-align: center;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  color: #ffffff;
  font-weight: 500;
}

.company-name {
  color: #171f46;
}

.review {
  color: #171f46;
  width: 500px;
  text-align: center;
  font-weight: 500;
}
